* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#domPlay {
  display: block;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}

#domNumbers {
  max-width: 450px;
  display: inline-block;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  font-size: 20px;
}
